@keyframes feature_container_anm {
	0% {
		transform: scale(1, 1);
	}
}

@keyframes title_1_anm {
	50% {
		translate: 0 -50%;
	}
}

@keyframes search_loading_spin {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(360deg);
	}
	30% {
		transform: rotate(370deg);
	}
	35% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes search_loading_spin2 {
	0% {
		transform: rotate(0deg);
	}
	20% {
		transform: rotate(0deg);
	}
	30% {
		transform: rotate(-180deg);
	}
	35% {
		transform: rotate(-190deg);
	}
	40% {
		transform: rotate(-180deg);
	}
	78% {
		transform: rotate(-180deg);
	}
	95% {
		transform: rotate(-360deg);
	}
	98% {
		transform: rotate(-370deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}

@keyframes search_loading_spin3 {
	0% {
		transform: rotate(0deg);
	}
	27% {
		transform: rotate(0deg);
	}
	40% {
		transform: rotate(180deg);
	}
	45% {
		transform: rotate(190deg);
	}
	50% {
		transform: rotate(180deg);
	}
	62% {
		transform: rotate(180deg);
	}
	75% {
		transform: rotate(360deg);
	}
	80% {
		transform: rotate(370deg);
	}
	85% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes search_loading_spin4 {
	0% {
		transform: rotate(0deg);
	}
	38% {
		transform: rotate(0deg);
	}
	60% {
		transform: rotate(-360deg);
	}
	65% {
		transform: rotate(-370deg);
	}
	75% {
		transform: rotate(-360deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}

@keyframes animateWaves {
	0% {
		background-position-x: 1000px;
	}

	100% {
		background-positon-x: 0px;
	}
}

@keyframes animate {
	0% {
		background-position-x: -1000px;
	}

	100% {
		background-positon-x: 0px;
	}
}